* {
    font-family: Poppins, sans-serif;
    color: white;
    
}

body {
    background-color: rgba(0, 0, 0, 0.788);
}

header {
    background-color: rgba(0, 0, 0, 0.493);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    height: 120px;
}

header img {
    max-width: 70px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.menu_navegacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
}

header h1 {
    margin-right: 40px;
    font-size: 2.6rem;
}

header h1 a {
    color: white;
    text-decoration: none;
}

header nav {
    display: flex;
    flex-direction: row;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    height: 55px;
}

header nav ul li {
    padding: 0;
    margin-left: 40px;
    display: flex;
    flex-direction: column-reverse;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 10px;
}

header nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: #fbac18;
}

.barra_pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
    margin-top: 10px;
}

.barra_pesquisa input {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    width: 450px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.barra_pesquisa input::placeholder {
    color: white;
}

main h1 {
    text-align: center;
    text-transform: capitalize;
    margin: 50px;
}

article {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 20px;
}

figure {
    width: 580px;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

figure img {
    width: 100%;
    height: auto;
    border-bottom: solid 1px rgba(255, 255, 255, 0.308);
}

figcaption {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 10px;
}

figcaption p {
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 5px;
}

.nome_skin {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 1.6rem;
    font-weight: bolder;
}

i {
    color: white;
    font-size: 2rem;
    margin-left: 5px;
}

i:hover {
    color: #fbac18;
}

footer {
    background-color: rgba(0, 0, 0, 0.493);
    margin-top: 40px;
    padding-bottom: 30px;
    border-top: 1px solid white;
    text-align: center;
    
}

footer p {
    font-size: 16px;
    padding: 10px;
    margin-top: 35px;
    text-align: center;
    color: white;
  }

.formulario {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 620px; 
    margin: 50px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario h1 {
    margin: 25px;
}

h1 {
    text-align: center;
}

label {
    font-size: 14px;
    display: block;
    margin-top: 10px;
}

input {
    padding: 8px;
    width: 450px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    display: flex;
}

input:focus {
    outline: 2px solid #fbac18;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 25px;
    border: none;
    border-radius: 5px;
    background-color: #fbac18;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #a16b07;
}


